<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src=" "/>
<ion-card>
  <ion-card-content>
    <p>Adress: Highrise,16</p>
    <p>City name: Nairobi</p>
    <p>Route: Zone F</p>
  </ion-card-content>
</ion-card>
<ion-list>
  <ion-item lines="inset">
    <ion-label position="floating">Notes</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
</ion-list>
<ion-button size="full" color="warning">Create location</ion-button>
</ion-content>
